.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button{
  font-size: 1.5rem;
  background-color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  color: black;
  border: none;
  border-radius: 8px;
  margin-top: 40px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.515);
}

button:hover{
  transform: translate(3%, -5%);
  transition: transform 0.2s;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

footer a{
  text-decoration: none;
  color: #EEEEEE;
}

footer a:hover{
  font-weight: bolder;
}
